/* 
***************
Reset
***************
 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
***************
Font
***************
 */
body{
    font-family: 'Lato', sans-serif;
    color: white;
}

/* 
***************
Common
***************
 */
 .row{
    display: flex;
}


/* 
***************
Header
***************
 */
header{
    height: 30px;
    background-color: #000;
}

.top-icons{

    justify-content: end;
}
header .top-icons span{
    background-color:#4a4a4a;
    font-size: 12px;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 3px;
    padding: 3px;
}

/* 
***************
Main
***************
 */

main{
    height: calc(100vh - 110px);
    background-color: bisque;
    display: flex;
    justify-content: center;
}
main .container{
    width: 95vw;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px 10px;
}
main .container .monitor{
    display: flex;
    height: 150px;
    width: 250px;
/*     background-color: coral;
 */    border: 1px solid black;

}
main .container .monitor img{
    width: 100%;
    display: inline-block;
}

 /* 
***************
Footer
***************
 */
footer{
    height: 80px;
    background-color: #222222;


}